{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Enter a Seat you want to book (e.g. 5A or 5a):</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('auth.booking') }}">login page</a>.
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/booking">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="seat" name="seat" placeholder="Seat" autofocus="">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Confirm</button>
        </form>
    </div>
</div>
<h1 class="title">
  <!--<FONT COLOR=magenta>Seat {{ seat }} Row: {{ row }}</FONT>//-->
    <p></p>
    <FONT COLOR=magenta>{{ message }}</FONT>
    <p></p>
    <p></p>
</h1>
<h2 class="title">
    <p style = "font-family:georgia,garamond,serif;font-size:32px;font-style:bold;">
         <u><FONT COLOR=lime>SEAT CHART</FONT></u>
      </p>
    <p></p>
    {% for element in liste %}
        <center>{% for l in element %}
                        <FONT COLOR=red>{{ l }}</FONT>
        {% endfor %}</center>
        <p></p>
    {% endfor %}
</h2>
{% endblock %}
